    @page
    @model addmemberModel
    @{
        ViewData["Title"] = "newuserModel";
    }

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="POS - Bootstrap Admin Template">
        <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Dreams Pos admin template</title>

        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.jpg">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/css/animate.css">

        <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

        <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

        <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div id="global-loader">
            <div class="whirly-loader"> </div>
        </div>

        <div class="main-wrapper">
            <div class="page-wrapper">
                <div class="content">
                    <div class="page-header">
                        <div class="page-title">
                            <h4>Member Management</h4>
                            <h6>Add/Update Member</h6>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Member.Name"></label>
                                            <input asp-for="Member.Name" class="form-control" />
                                            <span asp-validation-for="Member.Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Member.City"></label>
                                            <input asp-for="Member.City" class="form-control" />
                                            <span asp-validation-for="Member.City" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Member.Credit"></label>
                                            <input asp-for="Member.Credit" class="form-control" />
                                            <span asp-validation-for="Member.Credit" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Member.Email"></label>
                                            <input asp-for="Member.Email" class="form-control" />
                                            <span asp-validation-for="Member.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Member.Membership_Level "></label>
                                            <input asp-for="Member.Membership_Level " class="form-control" />
                                            <span asp-validation-for="Member.Membership_Level " class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Member.Type "></label>
                                            <input asp-for="Member.Type " class="form-control" />
                                            <span asp-validation-for="Member.Type " class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Member.Mobile"></label>
                                            <input asp-for="Member.Mobile" class="form-control" />
                                            <span asp-validation-for="Member.Mobile" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Member.NIC"></label>
                                            <input asp-for="Member.NIC" class="form-control" />
                                            <span asp-validation-for="Member.NIC" class="text-danger"></span>
                                        </div>
                                         @* <div class="form-group">
                                             <label asp-for="Member.Parent"></label>
                                             <select asp-for="Member.Parent" class="form-control" asp-items="Model.parentList"></select>
                                             <span asp-validation-for="Member.Parent " class="text-danger"></span>
                                         </div> *@
                                    </div>
                                    <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Member.Card_id"></label>
                                        <input asp-for="Member.Card_id" class="form-control" id="cardUID" readonly /> <!-- Display card_id -->
                                        <input type="hidden" id="hiddenCardId" name="Member.HiddenCardId" /> <!-- Hidden field to hold id -->
                                        <span asp-validation-for="Member.Card_id" class="text-danger"></span>
                                    </div>
                                        <div class="form-group">
                                            <label asp-for="Member.Reward"></label>
                                            <input asp-for="Member.Reward" class="form-control" />
                                            <span asp-validation-for="Member.Reward" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-submit me-2">Submit</button>
                                        <a asp-page="/productlist" class="btn btn-cancel">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





    <script>
        $(document).ready(function () {
            function fetchCardUID() {
                $.ajax({
                    url: '/addmember?handler=ReceiveAndFetchCards',
                    type: 'GET',
                    success: function (data) {
                        if (data.card_id) {
                            $('#cardUID').val(data.card_id); 
                            $('#hiddenCardId').val(data.id); 
                        }
                    },
                    error: function () {
                        console.log("Error fetching data.");
                    }
                });
            }

            setInterval(fetchCardUID, 100);
        });
    </script>


        <script src="assets/js/jquery-3.6.0.min.js"></script>

        <script src="assets/js/feather.min.js"></script>

        <script src="assets/js/jquery.slimscroll.min.js"></script>

        <script src="assets/js/jquery.dataTables.min.js"></script>
        <script src="assets/js/dataTables.bootstrap4.min.js"></script>

        <script src="assets/js/bootstrap.bundle.min.js"></script>

        <script src="assets/plugins/select2/js/select2.min.js"></script>

        <script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
        <script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>

        <script src="assets/js/script.js"></script>
    </body>