@page
@model POS.Pages.addrfcardModel
@{
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.jpg">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/animate.css">

    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>RFCard Management</h4>
                        <h6>Add/Update RFCard</h6>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="RF.UID"></label>
                                        <input asp-for="RF.UID" class="form-control" value="@Model.ExtractedcardUID" />
                                        <span asp-validation-for="RF.UID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="RF.Organization"></label>
                                        <select asp-for="RF.Organization" class="form-control" asp-items="Model.OrganizationList" id="RF_Organization">
                                            <option value="">Select an Organization</option>
                                        </select>
                                        <span asp-validation-for="RF.Organization" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="RF.Branch"></label>
                                        <select asp-for="RF.Branch" class="form-control" id="RF_Branch">
                                            <option value="">Select a branch</option>
                                        </select>
                                        <span asp-validation-for="RF.Branch" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="RF.Assigned"></label>
                                        <select asp-for="RF.Assigned" class="form-control">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                        <span asp-validation-for="RF.Assigned" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-submit me-2">Submit</button>
                                    <a asp-page="/productlist" class="btn btn-cancel">Cancel</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>

        console.log("Serial Data: @Model.ExtractedcardUID");
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#RF_Organization').change(function () {
                var selectedOrganizationId = $(this).val();

                if (selectedOrganizationId) {
                    $.ajax({
                        url: '/addrfcard?handler=Branches',
                        type: 'GET',
                        data: { organizationId: selectedOrganizationId },
                        success: function (data) {
                            var branchSelect = $('#RF_Branch');
                            branchSelect.empty();
                            branchSelect.append($('<option>').val('').text('Select a branch'));

                            $.each(data, function (index, branch) {
                                branchSelect.append($('<option>').val(branch.value).text(branch.text));
                            });
                        },
                        error: function () {
                            alert('Failed to load branches.');
                        }
                    });
                } else {

                    $('#RF_Branch').empty().append($('<option>').val('').text('Select a branch'));
                }
            });
        });

    </script>
    <script>
        async function fetchData() {
            try {
                const response = await fetch('/addrfcard?handler=ReceiveData');
                const data = await response.json();
                if (data.extractedCardUID) {
                    document.getElementById('RF_UID').value = data.extractedCardUID; 
                }
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        setInterval(fetchData, 100); 
    </script>



    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/js/jquery.slimscroll.min.js"></script>

    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/plugins/select2/js/select2.min.js"></script>

    <script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <script src="assets/js/script.js"></script>
</body>