@page
@model posModel
@{
    ViewData["Title"] = "newuserModel";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.jpg">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/animate.css">

    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>POS Management</h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="POS.Card_id"></label>
                                        <input asp-for="POS.Card_id" class="form-control" id="cardUID" oninput="updateHiddenCardID()" />
                                        <input type="hidden" asp-for="POS.HiddenCardID" id="hiddenCardID" />
                                        <span asp-validation-for="POS.Card_id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="POS.Amount"></label>
                                        <input asp-for="POS.Amount" class="form-control" />
                                        <span asp-validation-for="POS.Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="POS.Purpose"></label>
                                        <select asp-for="POS.Purpose" class="form-control">
                                            <option value="">-- Select Purpose --</option>
                                            <option value="card_recharge">Card Recharge</option>
                                            @* <option value="card_issue">Card Issue</option> *@
                                            @* <option value="hardware_sale">Hardware Sale</option> *@

                                        </select>
                                        <span asp-validation-for="POS.Purpose" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                @* <div class="form-group">
                                    <label asp-for="POS.Member"></label>
                                    <select asp-for="POS.Member" class="form-control" asp-items="Model.memberList"></select>
                                    <span asp-validation-for="POS.Member" class="text-danger"></span>
                                </div> *@
                                    <div class="form-group">
                                        <label asp-for="POS.PhoneNumber"></label>
                                        <input asp-for="POS.PhoneNumber" class="form-control" />
                                        <span asp-validation-for="POS.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-submit me-2">Submit</button>
                                    <a asp-page="/productlist" class="btn btn-cancel">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <script>
        $(document).ready(function () {
            function getCardUIDFromServer() {
                $.ajax({
                    url: '/pos?handler=FetchCardUID',
                    type: 'GET',
                    success: function (data) {
                        if (data.card_id) {
                            $('#cardUID').val(data.card_id); 
                            $('#hiddenCardID').val(data.id); 
                        } else {
                            console.log("No card ID returned.");
                        }
                    },
                    error: function () {
                        console.log("Error fetching data.");
                    }
                });
            }

            setInterval(getCardUIDFromServer, 100); 
        });
    </script>

    <script>
        function updateHiddenCardID() {
            const cardInput = document.getElementById('cardUID');
            const hiddenCardID = document.getElementById('hiddenCardID');

            if (cardInput.readOnly) {
                hiddenCardID.value = cardInput.value;
            } else {
                hiddenCardID.value = cardInput.value;
            }
        }
        window.onload = function() {
            updateHiddenCardID();
        };
    </script>


    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugins/select2/js/select2.min.js"></script>
    <script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>