@page
@model transactionlistModel
@{
    ViewData["Title"] = "Error";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreams Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.jpg">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/animate.css">

    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Transfer Cards</h4>
                        <h6>Manage your Cards Transfer</h6>
                    </div>
                    <div class="page-btn">
                        <a href="addcustomer.html" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img">Add Transfer</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-top">
                            <div class="mt-3">
                                <div class="form-group d-flex align-items-center">
                                    <div class="me-2">
                                        <select id="orgselect" class="form-control" asp-items="Model.OrganizationList">
                                            <option value="">Select an organization</option>
                                        </select>
                                    </div>

                                    <div class="me-2">
                                        <select class="form-control" id="RF_Branch">
                                            <option value="">Select a branch</option>
                                        </select>
                                    </div>

                                    <div class="me-2">
                                        <input type="date" id="startDate" class="form-control">
                                    </div>

                                    <div class="me-2">
                                        <input type="date" id="endDate" class="form-control">
                                    </div>

                                    <div>
                                        <button id="submit" class="btn btn-primary">Search</button> 
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="selectAll" /> 
                                        </th>
                                        <th>Transaction Id</th>
                                        <th>Organization</th>
                                        <th>Branch</th>
                                        <th>Amount</th>
                                        @if (Model.UserRole == "admin")
                                        {
                                            <th>Profit Admin</th>
                                        }
                                        @if (Model.UserRole == "admin" || Model.UserRole == "client")
                                        {
                                            <th>Profit Organization</th>
                                        }
                                        <th>Member</th>
                                        <th>Purpose</th>
                                    </tr>
                                </thead>
                                <tbody id="cardTableBody">
                                </tbody>
                            </table>
                            <div class="mt-3">
                                <div class="d-flex align-items-center">
                                    <button id="submitinvoice" class="btn btn-primary">Invoice</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#orgselect').change(function () {
                var selectedOrganizationId = $(this).val();

                if (selectedOrganizationId) {
                    $.ajax({
                        url: '/transactionlist?handler=Branches',
                        type: 'GET',
                        data: { organizationId: selectedOrganizationId },
                        success: function (data) {
                            var branchSelect = $('#RF_Branch');
                            branchSelect.empty();
                            branchSelect.append($('<option>').val('').text('Select a branch'));

                            $.each(data, function (index, branch) {
                                branchSelect.append($('<option>').val(branch.value).text(branch.text));
                            });
                        },
                        error: function () {
                            alert('Failed to load branches.');
                        }
                    });
                } else {
                    $('#RF_Branch').empty().append($('<option>').val('').text('Select a branch'));
                }
            });
        });
    </script>


    <script>
        $(document).ready(function() {
            $('#submit').on('click', function() {
                var org = $('#orgselect').val();
                var branch = $('#RF_Branch').val();
                var startDate = new Date($('#startDate').val());
                var endDate = new Date($('#endDate').val());

                $.ajax({
                    url: '/transactionlist?handler=Submit',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Organization: org,
                        Branch: branch,
                        StartDateEpoch: startDate.getTime(),
                        EndDateEpoch: endDate.getTime()
                    }),
                    success: function(response) {
                        console.log("Data:", response);
                        updateTable(response.allTransactions);
                        alert('Successful!');
                    },
                    error: function(xhr, status, error) {
                        console.error('An error occurred while fetching data: ', error);
                        console.error('Response:', xhr.responseText);
                    }
                });
            });

            function updateTable(transactions) {
                const tableBody = $('#cardTableBody');
                tableBody.empty(); 

                transactions.forEach(function(transaction) {
                    const row = `
                        <tr>
                            <td><input type="checkbox" class="selectCheckbox" value="${transaction.id}" /></td>
                            <td>${transaction.transactionId}</td>
                            <td>${transaction.organization}</td>
                            <td>${transaction.branch}</td>
                            <td>${transaction.amount}</td>
                            <td>${transaction.profit_Admin}</td>
                            <td>${transaction.profit_ORG}</td>
                            <td>${transaction.member}</td>
                            <td>${transaction.purpose}</td>
                        </tr>
                    `;
                    tableBody.append(row); 
                });
            }

            $('#selectAll').on('change', function() {
                const isChecked = this.checked;
                $('.selectCheckbox').prop('checked', isChecked);
            });

            $('#submitinvoice').on('click', function() {
                const selectedIds = [];
                $('.selectCheckbox:checked').each(function() {
                    selectedIds.push($(this).val());
                });

                var org = $('#orgselect').val();
                var branch = $('#RF_Branch').val();

                if (selectedIds.length > 0) {
                    $.ajax({
                        url: '/transactionlist?handler=Invoice', 
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(
                            { SelectedIds: selectedIds,
                            Organization: org,
                            Branch: branch
                        }),
                        success: function(response) {


                            console.log("Response",data);
                            alert('Invoice processed successfully!');
                        },
                        error: function(xhr, status, error) {
                            console.error('An error occurred while sending data: ', error);
                            console.error('Response:', xhr.responseText);
                        }
                    });
                } else {
                    alert("No items selected.");
                }
            });
        });
    </script>





   <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/js/jquery.slimscroll.min.js"></script>

    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/plugins/select2/js/select2.min.js"></script>

    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <script src="assets/js/script.js"></script>
</body>